<!doctype html>
<html>
    <head>
        <title>Tower of Hanoi</title>
        <style>
         table {
             border-collapse: collapse;
         }

         th, td {
             width: 120px;
             height: 30px;
             text-align: center;
             vertical-align: middle;
         }

         th {
             font-weight: bold;
         }

         .disk {
             border: 1px solid #000;
             width: 80%;
             margin: 0 auto;
         }
        </style>
    </head>
    <body>

        <h1>Tower of Hanoi</h1>

        <table>

            <tr>
                <th>Peg A</th>
                <th>Peg B</th>
                <th>Peg C</th>
            </tr>

            {% for row in pegs %}
            <tr>
                {% for cell in row %}
                <td>
                    {% if cell %}
                    <div class="disk">Disk {{ cell }}</div>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}

        </table>

    </body>
</html>
